/* Center the form on the page */
.d-flex.justify-content-center {
  height: 50vh;
  display: flex;
  align-items: center;
}

/* Form styling */
.form-signin {
    
  max-width: 400px;
  padding: 15px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-signin h1 {
  margin-bottom: 20px;
  color: #333;
}

.form-signin input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Error message styling */
.form-signin div {
  margin-top: 5px;
}

/* Button styling */
.form-signin button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* Button hover effect */
.form-signin button:hover {
  background-color: #0056b3;
}